@font-face {
  font-family: Gilroy-regular;
  src: url(../fonts/Gilroy-Light.otf);
}
@font-face {
  font-family: Gilroy-bold;
  src: url(../fonts/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: Gilroy-medium;
  src: url(../fonts/Gilroy-Medium.ttf);
}

/* css du loader */
#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: Gilroy-medium;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
  font-family: Gilroy-bold;
}

.four_zero_four_bg h3 {
  font-family: Gilroy-bold;
  font-size: 80px;
}

.link_404 {
  color: #1a237e !important;
  padding: 10px 20px;
  background: #fce4ec;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
