{% extends 'base.html.twig' %}

{% block title %}Garanties{% endblock %}

{% block body %}
<link rel="stylesheet" href="/css/contact.css">
{% include "partials/header.html.twig" %}
    <div class="container mt-3">
      <h2 class="text-center">Garanties sur les produits commandés</h2>
      <hr style="border-top: 4px solid #1e316a" />
      <div class="row">
        <div class="col">
          <h4>Sommaire</h4>
          <p>
              <ol>
                  <li>À propos de cet avis</li>
                  <li>La durée de la garantie en fonction des produits </li>
                  <li>Les documents de la garanties </li>
                  <li>Vos droits légaux </li>
              </ol>
          </p>
        </div>
      </div>
      <div class="row">
          <div class="col">
              <h3 class="mt-4">1-À propos de cet avis</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut labore facilis alias quod amet, fugiat tempore cum nisi, nobis nam, nesciunt aperiam voluptate odit provident. Officiis pariatur quas aliquid optio.</p>
              <h3 class="mt-4">2-La durée de la garantie en fonction des produits </h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut labore facilis alias quod amet, fugiat tempore cum nisi, nobis nam, nesciunt aperiam voluptate odit provident. Officiis pariatur quas aliquid optio.</p>
              <h3 class="mt-4">3-Les documents de la garanties</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut labore facilis alias quod amet, fugiat tempore cum nisi, nobis nam, nesciunt aperiam voluptate odit provident. Officiis pariatur quas aliquid optio.</p>
              <h3 class="mt-4">4-Vos droits légaux</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut labore facilis alias quod amet, fugiat tempore cum nisi, nobis nam, nesciunt aperiam voluptate odit provident. Officiis pariatur quas aliquid optio.</p>
          </div>
      </div>
    </div>
{% endblock %}
