{% extends 'base.html.twig' %}

{% block title %}Confidentialité{% endblock %}

{% block body %}
<link rel="stylesheet" href="/css/contact4.css">
{% include "partials/loader.html.twig" %}
{% include "partials/header.html.twig" %}
    <div class="container mt-3">
      <h2 class="text-center">Confidentialité sur Stocklet</h2>
      <hr style="border-top: 4px solid #1e316a" />
      <div class="row">
        <div class="col">
          <h4>Sommaire</h4>
          <p>
              <ol>
                  <li>À propos de cet avis</li>
                  <li>Les données que nous collectons sur vous </li>
                  <li>Comment nous utilisons vos données personnelles</li>
                  <li>Comment nous partageons vos données personnelles</li>
                  <li>Sécurité des données</li>
                  <li>Vos droits légaux </li>
              </ol>
          </p>
        </div>
      </div>
      <div class="row">
          <div class="col">
              <h3 class="mt-4">1-À propos de cet avis</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut labore facilis alias quod amet, fugiat tempore cum nisi, nobis nam, nesciunt aperiam voluptate odit provident. Officiis pariatur quas aliquid optio.</p>
              <h3 class="mt-4">2-Les données que nous collectons sur vous </h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut labore facilis alias quod amet, fugiat tempore cum nisi, nobis nam, nesciunt aperiam voluptate odit provident. Officiis pariatur quas aliquid optio.</p>
              <h3 class="mt-4">3-Comment nous utilisons vos données personnelles</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut labore facilis alias quod amet, fugiat tempore cum nisi, nobis nam, nesciunt aperiam voluptate odit provident. Officiis pariatur quas aliquid optio.</p>
              <h3 class="mt-4">4-Comment nous partageons vos données personnelles</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut labore facilis alias quod amet, fugiat tempore cum nisi, nobis nam, nesciunt aperiam voluptate odit provident. Officiis pariatur quas aliquid optio.</p>
              <h3 class="mt-4">5-Sécurité des données</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut labore facilis alias quod amet, fugiat tempore cum nisi, nobis nam, nesciunt aperiam voluptate odit provident. Officiis pariatur quas aliquid optio.</p>
              <h3 class="mt-4">6-Vos droits légaux </h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut labore facilis alias quod amet, fugiat tempore cum nisi, nobis nam, nesciunt aperiam voluptate odit provident. Officiis pariatur quas aliquid optio.</p>
          </div>
      </div>
    </div>
{% endblock %}
