{% extends 'base.html.twig' %}

{% block title %}Termes & conditions{% endblock %}

{% block body %}
<link rel="stylesheet" href="/css/contact.css">
{% include "partials/header.html.twig" %}
    <div class="container mt-3">
      <h2 class="text-center">Conditions d'utilisation</h2>
      <hr style="border-top: 4px solid #1e316a" />
            <div class="row">
        <div class="col">
          <h4>Sommaire</h4>
          <p>
              <ol>
                  <li>Introduction</li>
                  <li>Inscription et compte</li>
                  <li>Conditions générales de vente</li>
                  <li>Concept de Stocklet</li>
                  <li>Retours</li>
                  <li>Paiements</li>
              </ol>
          </p>
        </div>
      </div>
      <div class="row">
          <div class="col">
              <h3 class="mt-4">1-Introduction</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut labore facilis alias quod amet, fugiat tempore cum nisi, nobis nam, nesciunt aperiam voluptate odit provident. Officiis pariatur quas aliquid optio.</p>
              <h3 class="mt-4">2-Inscription et compte</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut labore facilis alias quod amet, fugiat tempore cum nisi, nobis nam, nesciunt aperiam voluptate odit provident. Officiis pariatur quas aliquid optio.</p>
              <h3 class="mt-4">3-Conditions générales de vente</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut labore facilis alias quod amet, fugiat tempore cum nisi, nobis nam, nesciunt aperiam voluptate odit provident. Officiis pariatur quas aliquid optio.</p>
              <h3 class="mt-4">4-Concept de Stocklet</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut labore facilis alias quod amet, fugiat tempore cum nisi, nobis nam, nesciunt aperiam voluptate odit provident. Officiis pariatur quas aliquid optio.</p>
              <h3 class="mt-4">5-Retours</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut labore facilis alias quod amet, fugiat tempore cum nisi, nobis nam, nesciunt aperiam voluptate odit provident. Officiis pariatur quas aliquid optio.</p>
              <h3 class="mt-4">6-Paiements</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut labore facilis alias quod amet, fugiat tempore cum nisi, nobis nam, nesciunt aperiam voluptate odit provident. Officiis pariatur quas aliquid optio.</p>
          </div>
      </div>
    </div>
{% endblock %}
