<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/500_1.css">
        <title>STOCKLET - Erreur interne</title>
    </head>
    <body>
        <section class="page_404">
            <div class="container">
                <div class="row">	
                    <div class="col-sm-12 text-center">
                        <div class="four_zero_four_bg">
                            <h1 class="text-center ">500</h1>
                        </div>
                        <div class="contant_box_404">
                            <h3 class="h2">Erreur Interne</h3>	
                            <p>Quelque chose s'est mal passé.Nous essayons de trouver une solution.</p>
                            <a href=" {{ path('home') }} " class="link_404">Retour à Stocklet</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>