{% extends "base.html.twig" %}

{% block title %}Page introuvable{% endblock %}
{% block body %}
<link rel="stylesheet" href="/css/404_0.css">
<section class="page_404">
	<div class="container">
		<div class="row">	
            <div class="col-sm-12 text-center">
                <div class="four_zero_four_bg">
                    <h1 class="text-center ">404</h1>
                </div>
                <div class="contant_box_404">
                    <h3 class="h2">On dirait que vous etes perdus</h3>	
                    <p>La page que vous cherchez n'existe pas</p>
                    <a href=" {{ path('home') }} " class="link_404">Retour à Stocklet</a>
                </div>
            </div>
		</div>
	</div>
</section>
{% endblock %}